/node_modules
/public/hot
/public/build
/public/storage

/vendor
/storage/app/public/livewire-tmp/
/storage/app/public/productos/
/storage/app/public/payments/
/storage/app/public/katary/
/storage/app/public/talentus/
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
*.zip
/storage\app\public\profile-photos/
/storage/app/facturacion
storage/app/facturacion/
storage/app/talentus/
