.row {
    max-width: 100%;
}
html {
    margin-left: 0.8rem;
    margin-right: 3rem;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clear-ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

* {
    font-family: "Open Sans", sans-serif;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #616262;
}

h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 72px;
    color: #afafb0;
}

h2 {
    font-family: "Open Sans", sans-serif;
    color: #616262;
}

h3 {
    font-family: "Open Sans", sans-serif;
    color: #616262;
}

h4 {
    font-family: "Open Sans", sans-serif;
}

h5 {
    font-family: "Open Sans", sans-serif;
}

h6 {
    font-family: "Open Sans", sans-serif;
}

.header .large-5,
.header .large-2 {
    margin-top: 20px;
}
.header .large-2 {
    min-height: 124px;
    padding-left: 0;
    border-bottom: 1px solid #e3e2e2;
}
.header .large-2 .header-contact {
    min-height: 100px;
    border-right: 1px solid #e3e2e2;
}
.header .medium-4 {
    margin-top: 78px;
}
.header i {
    font-size: 24px;
    color: #7dbb77;
}
.header p {
    color: #ababab;
    font-size: 10px;
    line-height: 16px;
}
.header .icon-mail {
    width: 14%;
    max-width: 30px;
    margin-bottom: 13px;
}
.header .icon-telephone {
    max-width: 30px;
    margin-bottom: 5px;
    width: 12%;
}
.header .icon-web {
    max-width: 30px;
    width: 12%;
}

.header-bottom i {
    color: #7dbb77;
}
.header-bottom h2 {
    font-size: 26px;
    font-weight: bold;
    color: #727478;
    margin: 0;
}
.header-bottom h3 {
    font-size: 18px;
    color: #727478;
}
.header-bottom h3 i {
    margin-right: 10px;
    font-size: 36px;
}
.header-bottom p {
    color: #727478;
}
.header-bottom p i {
    display: inline-block;
    width: 24px;
    margin-right: 8px;
    font-size: 28px;
    text-align: center;
}
.header-bottom .header-bottom-left {
    margin-top: 18px;
}
.header-bottom .header-bottom-left p {
    margin-bottom: 0;
    line-height: 16px;
}
.header-bottom .invoice-header table {
    width: 100%;
    margin-right: 10px;
    border: none;
}
.invoice-header {
    padding-right: 10px;
}
.header-bottom .invoice-header table i {
    display: inline-block;
    width: 58px;
    padding: 10px;
    font-size: 32px;
    text-align: center;
    border: 1px solid #afafb0;
    border-radius: 36px 36px 36px 36px;
    -moz-border-radius: 36px 36px 36px 36px;
    -webkit-border-radius: 36px 36px 36px 36px;
}
.header-bottom .invoice-header table thead td {
    background: #fff;
    padding: 0 0 10px 8px;
    vertical-align: bottom;
}

.header-bottom .invoice-header table .icon-dollar {
    width: 16px;
}
.header-bottom .invoice-header table .icon-calendar {
    width: 26px;
}
.header-bottom .invoice-header table .icon-barcode {
    width: 32px;
}
.header-bottom .invoice-header li {
    float: right;
}
.header-bottom .invoice-header p {
    padding: 20px 32px;
    background: #7dbb77;
    color: #fff;
}
.header-bottom .icon-invoice {
    width: 3%;
    min-width: 18px;
}
.header-bottom .icon-mail {
    margin-right: 10px;
    min-width: 22px;
    width: 4%;
}
.header-bottom .icon-mobile {
    margin-left: 5px;
    margin-right: 16px;
    width: 2%;
    min-width: 12px;
}

.products-table {
    width: 100%;
    margin-top: 18px;
    margin-bottom: 0;
    border: none;
}
.products-table h5 {
    margin: 0;
    font-weight: bold;
    color: #616262;
}
.products-table th {
    padding: 20px;
    background: #fff;
    font-size: 20px;
    color: #ed832f;
    text-align: center;
}
.products-table th:first-child {
    text-align: left;
}
.products-table tbody tr:nth-child(odd) td {
    background: #e8e8e9;
}
.products-table tbody td {
    padding: 6px;
    vertical-align: middle;
    color: #616262;
    text-align: center;
}
.products-table tbody td:first-child {
    text-align: left;
}
.products-table tbody p {
    margin: 0;
}
.products-table .descripcion {
    margin: 0;
    font-size: 18px;
    color: #616262;
}
.totals table {
    padding-right: 10px;
    width: 100%;
    border: none;
}
.totals table tr td {
    background: #fff;
    font-size: 14px;
    text-align: right;
}
.totals table tr td:last-child {
    padding-right: 20px;
}
.totals table tfoot td {
    padding: 12px 2px;
    background: #ed832f;
    color: #fff;
    font-size: 16px;
}
.totals table .discount td {
    font-weight: bold;
    color: red;
}
.totals .signature {
    text-align: center;
}
.totals .signature .icon-signature {
    width: 40%;
    margin-bottom: 20px;
}
.totals .signature p {
    margin: 0;
}

.bottom-left {
    font-size: 10px;
}
.bottom-left table {
    border: none;
}
.bottom-left table thead th {
    background: #acacac;
    font-weight: normal;
    color: #fff;
    border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
}
.bottom-left table tbody td {
    padding-top: 30px;
    padding-bottom: 0;
    background: #fff;
    font-size: 16px;
    color: #8f8f8f;
}
.bottom-left p {
    margin: 0;
    font-size: 12px;
    line-height: 14px;
}
.bottom-left .icon-paypal {
    width: 20%;
}
.bottom-left .icon-cc {
    width: 6%;
}
.bottom-left .icon-western {
    width: 23%;
}
.bottom-left.show-for-small-only {
    text-align: center;
}

.terms {
    margin-top: 5px;
    font-size: 10px;
}

.footer p {
    height: 50px;
    font-size: 11px;
    line-height: 14px;
    border-right: 1px solid #d4d2d2;
}
.sub-footer p {
    height: 40px;
    font-size: 10px;
    line-height: 12px;
}
.sub-footer img {
    margin-top: -5px;
    width: 60px;
}
.sub-footer div {
    margin-top: 5px;
    margin-left: -15px;
}

.print .header {
    width: 100%;
    border: none;
}
.print .header img {
    width: 230px;
}
.print .header td {
    vertical-align: top;
}
.print .header td p {
    font-size: 10px;
}
.print .header-bottom {
    width: 100%;
    border: none;
}
.print .header-bottom h1 {
    font-size: 40px;
}
.print .header-bottom .header-bottom-left h3 {
    margin: 0;
}
.print .header-bottom .header-bottom-left p {
    font-size: 12px !important;
}
.print .header-bottom .invoice-header td {
    vertical-align: bottom !important;
}
.print .header-bottom .invoice-header table {
    width: 100%;
    border: none;
}
.print .header-bottom .invoice-header table h1 {
    margin: 0 !important;
}
.print .header-bottom .invoice-header table tbody td {
    padding: 0;
}
.print .products-table th {
    font-size: 16px !important;
}
.print .products-table h5 {
    font-size: 13px !important;
}
.print .products-table p {
    font-size: 12px !important;
}
.print .bottom {
    width: 100%;
    border: none;
}
.print .bottom-left {
    font-size: 12px;
}
.print .bottom-left table {
    border: none;
}
.print .bottom-left table tbody td {
    padding-top: 30px;
    padding-bottom: 0;
    font-size: 18px;
}
.print .bottom-left p {
    margin: 0;
    font-size: 12px;
}
.print .totals table {
    width: 100%;
    border: none;
}
.print .totals table tr td {
    font-size: 14px;
    text-align: right;
}
.print .totals table tfoot td {
    background: #7dbb77 !important;
    color: #fff;
    font-size: 20px;
}
.print .totals table .discount td {
    font-weight: bold;
    color: red !important;
}
.print .totals .signature {
    text-align: center;
}
.print .totals .signature img {
    margin-bottom: 10px;
}
.print .totals .signature p {
    margin: 0;
}
.print .terms {
    width: 100%;
    margin: 0 !important;
    border: none;
}

@media print {
    .print-only .header {
        width: 100%;
        border: none;
    }
    .print-only .header img {
        width: 230px;
    }
    .print-only .header td {
        vertical-align: top;
    }
    .print-only .header td p {
        font-size: 10px;
    }
    .print-only .header-bottom {
        width: 100%;
        border: none;
    }
    .print-only .header-bottom h1 {
        font-size: 40px;
    }
    .print-only .header-bottom .header-bottom-left h3 {
        margin: 0;
    }
    .print-only .header-bottom .header-bottom-left p {
        font-size: 12px !important;
    }
    .print-only .header-bottom .invoice-header {
        vertical-align: bottom !important;
    }
    .print-only .header-bottom .invoice-header table {
        width: 100%;
        margin: 0 !important;
        border: none;
    }
    .print-only .header-bottom .invoice-header table h1 {
        margin: 0 !important;
    }
    .print-only .header-bottom .invoice-header table tbody td {
        padding: 0;
    }
    .print-only .products-table th {
        font-size: 16px !important;
    }
    .print-only .products-table h5 {
        font-size: 13px !important;
    }
    .print-only .products-table p {
        font-size: 12px !important;
    }
    .print-only .bottom {
        width: 100%;
        border: none;
    }
    .print-only .bottom-left {
        font-size: 12px;
    }
    .print-only .bottom-left table {
        border: none;
    }
    .print-only .bottom-left table tbody td {
        padding-top: 30px;
        padding-bottom: 0;
        font-size: 18px;
    }
    .print-only .bottom-left p {
        margin: 0;
        font-size: 12px;
    }
    .print-only .totals table {
        width: 100%;
        border: none;
    }
    .print-only .totals table tr td {
        font-size: 14px;
        text-align: right;
    }
    .print-only .totals table tfoot td {
        background: #7dbb77 !important;
        color: #fff;
        font-size: 20px;
    }
    .print-only .totals table .discount td {
        font-weight: bold;
        color: red !important;
    }
    .print-only .totals .signature {
        text-align: center;
    }
    .print-only .totals .signature img {
        margin-bottom: 10px;
    }
    .print-only .totals .signature p {
        margin: 0;
    }
    .print-only .terms {
        width: 100%;
        margin: 0 !important;
        font-size: 10px;
        border: none;
    }
    .print-only .footer {
        width: 100%;
        border: none !important;
    }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    .header .large-2 {
        padding-left: 10px;
    }
    .header .large-2 .header-contact {
        min-height: 100px;
        border-right: none;
    }
    .header .header-contact {
        min-height: 100px;
        border-right: none;
    }
}

/* ADICIONAL */

/*! CSS Used from: Embedded */
img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 0.07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}
/*! CSS Used from: https://websitedemos.net/cosmetics-store-02/wp-content/themes/astra/assets/css/minified/main.min.css?ver=4.1.3 ; media=all */

/*! CSS Used from: Embedded */

button:focus,
button:hover,
input#submit:hover,
input#submit:focus,
input[type="submit"]:hover,
input[type="submit"]:focus,
.woocommerce button.button:hover,
.woocommerce #respond input#submit:hover {
    color: #ffffff;
    background-color: var(--ast-global-color-1);
    border-color: var(--ast-global-color-1);
}
@media (max-width: 921px) {
    .ast-separate-container .comment-respond {
        padding: 2em 2.14em;
    }
}
@media (max-width: 544px) {
    .ast-separate-container .ast-article-single {
        padding: 1.5em 1em;
    }
}
@media (max-width: 921px) {
    button,
    input,
    select,
    textarea {
        font-size: 18px;
        font-size: 1.0588235294118rem;
    }
    .entry-title {
        font-size: 30px;
    }
    h1 {
        font-size: 50px;
    }
    h2,
    .entry-content h2 {
        font-size: 32px;
    }
}
@media (max-width: 544px) {
    .entry-title {
        font-size: 30px;
    }
    h1 {
        font-size: 30px;
    }
    h2,
    .entry-content h2 {
        font-size: 25px;
    }
}
h1,
h2,
.entry-content h2 {
    color: var(--ast-global-color-2);
}
.ast-separate-container .ast-article-single:not(.ast-related-post),
.ast-separate-container .ast-woocommerce-container {
    background-color: var(--ast-global-color-5);
    background-image: none;
}
@media (max-width: 921px) {
    .ast-separate-container .ast-article-single:not(.ast-related-post),
    .ast-separate-container .ast-woocommerce-container {
        background-color: rgba(0, 0, 0, 0);
        background-image: none;
    }
}
@media (max-width: 544px) {
    .ast-separate-container .ast-article-single:not(.ast-related-post),
    .ast-separate-container .ast-woocommerce-container {
        background-color: rgba(0, 0, 0, 0);
        background-image: none;
    }
}
.comment-reply-title {
    font-size: 28px;
    font-size: 1.6470588235294rem;
}
.comment-reply-title {
    padding-top: 1em;
    font-weight: normal;
    line-height: 1.65;
}
.ast-separate-container .comment-reply-title {
    padding-top: 0;
}
.ast-separate-container .comment-respond {
    background-color: #fff;
    padding: 4em 6.67em;
    border-bottom: 0;
}
@media (max-width: 1200px) {
    .ast-separate-container .comment-respond {
        padding: 3em 2.34em;
    }
}
@media (max-width: 544px) {
    .ast-separate-container .comment-respond {
        padding: 1.5em 1em;
    }
}
@media (max-width: 921px) {
    .ast-separate-container .comment-respond {
        padding: 2em 2.14em;
    }
    .comment-reply-title {
        font-size: 29px;
        font-size: 1.6111111111111rem;
    }
}
/*! CSS Used from: https://websitedemos.net/cosmetics-store-02/wp-includes/css/dist/block-library/style.min.css?ver=6.1.1 ; media=all */
@media all {
    ul {
        box-sizing: border-box;
    }
    .wp-element-button {
        cursor: pointer;
    }
    .screen-reader-text {
        border: 0;
        clip: rect(1px, 1px, 1px, 1px);
        clip-path: inset(50%);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
        word-wrap: normal !important;
    }
    .screen-reader-text:focus {
        background-color: #ddd;
        clip: auto !important;
        clip-path: none;
        color: #444;
        display: block;
        font-size: 1em;
        height: auto;
        left: 5px;
        line-height: normal;
        padding: 15px 23px 14px;
        text-decoration: none;
        top: 5px;
        width: auto;
        z-index: 100000;
    }
    figure {
        margin: 0 0 1em;
    }
}
/*! CSS Used from: https://websitedemos.net/cosmetics-store-02/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/wc-blocks-style.css?ver=9.8.4 ; media=all */
@media all {
    .screen-reader-text {
        clip: rect(1px, 1px, 1px, 1px);
        word-wrap: normal !important;
        border: 0;
        -webkit-clip-path: inset(50%);
        clip-path: inset(50%);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        overflow-wrap: normal !important;
        padding: 0;
        position: absolute !important;
        width: 1px;
    }
    .screen-reader-text:focus {
        clip: auto !important;
        background-color: #fff;
        border-radius: 3px;
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
        -webkit-clip-path: none;
        clip-path: none;
        color: #2b2d2f;
        display: block;
        font-size: 0.875rem;
        font-weight: 700;
        height: auto;
        left: 5px;
        line-height: normal;
        padding: 15px 23px 14px;
        text-decoration: none;
        top: 5px;
        width: auto;
        z-index: 100000;
    }
}
/*! CSS Used from: Embedded */
a:where(:not(.wp-element-button)) {
    text-decoration: none;
}
.wp-element-button {
    background-color: #32373c;
    border-width: 0;
    color: #fff;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    padding: calc(0.667em + 2px) calc(1.333em + 2px);
    text-decoration: none;
}
/*! CSS Used from: https://websitedemos.net/cosmetics-store-02/wp-content/themes/astra/assets/css/minified/compatibility/woocommerce/woocommerce-layout-grid.min.css?ver=4.1.3 ; media=all */
@media all {
    .woocommerce img,
    .woocommerce-page img {
        height: auto;
        max-width: 100%;
    }
    .woocommerce #content div.product div.images,
    .woocommerce div.product div.images,
    .woocommerce-page #content div.product div.images,
    .woocommerce-page div.product div.images {
        float: left;
        width: 48%;
    }
    .woocommerce #content div.product div.summary,
    .woocommerce div.product div.summary,
    .woocommerce-page #content div.product div.summary,
    .woocommerce-page div.product div.summary {
        float: right;
        width: 48%;
        clear: none;
    }
    .woocommerce #content div.product .woocommerce-tabs,
    .woocommerce div.product .woocommerce-tabs,
    .woocommerce-page #content div.product .woocommerce-tabs,
    .woocommerce-page div.product .woocommerce-tabs {
        clear: both;
    }
    .woocommerce #content div.product .woocommerce-tabs ul.tabs,
    .woocommerce div.product .woocommerce-tabs ul.tabs,
    .woocommerce-page #content div.product .woocommerce-tabs ul.tabs,
    .woocommerce-page div.product .woocommerce-tabs ul.tabs {
        zoom: 1;
    }
    .woocommerce #content div.product .woocommerce-tabs ul.tabs::after,
    .woocommerce #content div.product .woocommerce-tabs ul.tabs::before,
    .woocommerce div.product .woocommerce-tabs ul.tabs::after,
    .woocommerce div.product .woocommerce-tabs ul.tabs::before,
    .woocommerce-page #content div.product .woocommerce-tabs ul.tabs::after,
    .woocommerce-page #content div.product .woocommerce-tabs ul.tabs::before,
    .woocommerce-page div.product .woocommerce-tabs ul.tabs::after,
    .woocommerce-page div.product .woocommerce-tabs ul.tabs::before {
        content: " ";
        display: table;
    }
    .woocommerce #content div.product .woocommerce-tabs ul.tabs::after,
    .woocommerce div.product .woocommerce-tabs ul.tabs::after,
    .woocommerce-page #content div.product .woocommerce-tabs ul.tabs::after,
    .woocommerce-page div.product .woocommerce-tabs ul.tabs::after {
        clear: both;
    }
    .woocommerce #content div.product .woocommerce-tabs ul.tabs li,
    .woocommerce div.product .woocommerce-tabs ul.tabs li,
    .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li,
    .woocommerce-page div.product .woocommerce-tabs ul.tabs li {
        display: inline-block;
    }
}
/*! CSS Used from: https://websitedemos.net/cosmetics-store-02/wp-content/themes/astra/assets/css/minified/compatibility/woocommerce/woocommerce-grid.min.css?ver=4.1.3 ; media=all */
@media all {
    .screen-reader-text {
        border: 0;
        clip: rect(1px, 1px, 1px, 1px);
        clip-path: inset(50%);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
        word-wrap: normal !important;
    }
    .clear {
        clear: both;
    }
    .woocommerce h2 {
        margin-bottom: 0.7em;
    }
    .woocommerce .quantity input[type="number"] {
        padding: 0.3em;
    }
    .woocommerce .quantity input[type="number"]:focus {
        outline: 0;
        border-color: var(--ast-border-color);
    }
    .woocommerce .quantity .qty {
        width: 3.631em;
        text-align: center;
        min-height: 35px;
    }
    .woocommerce div.product {
        margin-bottom: 0;
        position: relative;
    }
    .woocommerce div.product .product_title {
        clear: none;
        margin-top: 0;
        padding: 0;
    }
    .woocommerce div.product p.price {
        color: #77a464;
        font-size: 1.5rem;
        font-weight: 700;
        margin: 0 0 0.2em;
    }
    .woocommerce div.product .product_title {
        margin: 0 0 0.5em 0;
    }
    .woocommerce div.product .product_meta {
        border-top: 1px solid var(--ast-border-color);
        padding-top: 0.5em;
        font-size: 0.9em;
        margin: 0 0 0.8em;
    }
    .woocommerce div.product .product_meta > span {
        display: inline-block;
        margin-right: 15px;
        align-items: center;
        font-weight: 500;
        text-decoration: inherit;
    }
    .woocommerce div.product .product_meta > span > * {
        font-weight: 400;
    }
    .woocommerce div.product div.images {
        margin-bottom: 2em;
    }
    .woocommerce div.product div.images img {
        display: block;
        width: 100%;
        height: auto;
        box-shadow: none;
    }
    .woocommerce div.product div.images.woocommerce-product-gallery {
        position: relative;
    }
    .woocommerce div.product div.images .woocommerce-product-gallery__wrapper {
        transition: all cubic-bezier(0.795, -0.035, 0, 1) 0.5s;
        margin: 0;
        padding: 0;
    }
    .woocommerce
        div.product
        div.images
        .woocommerce-product-gallery__wrapper
        .zoomImg {
        background-color: #fff;
    }
    .woocommerce div.product div.images .woocommerce-product-gallery__trigger {
        position: absolute;
        top: 0.5em;
        right: 0.5em;
        font-size: 2em;
        z-index: 9;
        width: 36px;
        height: 36px;
        background: var(--ast-global-color-5);
        text-indent: -9999px;
        border-radius: 100%;
        box-sizing: content-box;
        backface-visibility: hidden;
    }
    .woocommerce
        div.product
        div.images
        .woocommerce-product-gallery__trigger:before {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        border: 2px solid var(--ast-global-color-3);
        border-radius: 100%;
        position: absolute;
        top: 9px;
        left: 9px;
        box-sizing: content-box;
    }
    .woocommerce
        div.product
        div.images
        .woocommerce-product-gallery__trigger:after {
        content: "";
        display: block;
        width: 2px;
        height: 8px;
        background: var(--ast-global-color-3);
        border-radius: 6px;
        position: absolute;
        top: 19px;
        left: 22px;
        transform: rotate(-45deg);
        box-sizing: content-box;
    }
    .woocommerce div.product div.summary {
        margin-bottom: 2em;
    }
    .woocommerce div.product div.summary .single-product-category {
        display: block;
        line-height: 1;
        margin-bottom: 1em;
    }
    .woocommerce
        div.product
        div.summary
        .woocommerce-product-details__short-description
        :last-child {
        margin-bottom: 1em;
    }
    .woocommerce div.product .woocommerce-tabs {
        padding-top: 2em;
        margin-bottom: 4em;
        width: 100%;
    }
    .woocommerce div.product .woocommerce-tabs ul.tabs {
        list-style: none;
        padding: 0;
        margin: 0 0 1em;
        overflow: hidden;
        position: relative;
    }
    .woocommerce div.product .woocommerce-tabs ul.tabs:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: var(--ast-border-color);
    }
    .woocommerce div.product .woocommerce-tabs ul.tabs li {
        border: 0;
        background: 0 0;
        display: inline-block;
        position: relative;
        z-index: 0;
        border-radius: 4px 4px 0 0;
        margin: 0 1em 0 0;
        padding: 0;
        border-radius: 0;
    }
    .woocommerce div.product .woocommerce-tabs ul.tabs li a {
        display: inline-block;
        padding: 0.5em 0;
        font-weight: 700;
        color: #515151;
        text-decoration: none;
    }
    .woocommerce div.product .woocommerce-tabs ul.tabs li a:hover {
        text-decoration: none;
        color: #6b6a6b;
    }
    .woocommerce div.product .woocommerce-tabs ul.tabs li.active {
        z-index: 2;
        border-bottom-color: #fff;
    }
    .woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
        text-shadow: inherit;
    }
    .woocommerce div.product .woocommerce-tabs ul.tabs li.active::before {
        content: " ";
        position: absolute;
        width: 100%;
        height: 3px;
        box-shadow: none;
        top: 0;
        left: 0;
        border-radius: 0;
    }
    .woocommerce div.product .woocommerce-tabs ul.tabs li.active::after {
        border: none;
        box-shadow: none;
    }
    .woocommerce div.product .woocommerce-tabs ul.tabs li::after,
    .woocommerce div.product .woocommerce-tabs ul.tabs li::before {
        content: " ";
        position: absolute;
        bottom: -1px;
        width: 5px;
        height: 5px;
        border: none;
        box-shadow: none;
    }
    .woocommerce div.product .woocommerce-tabs ul.tabs::before {
        position: absolute;
        content: " ";
        width: 100%;
        bottom: 0;
        left: 0;
        border-bottom: 1px solid var(--ast-border-color);
        z-index: 1;
    }
    .woocommerce div.product .woocommerce-tabs ul.tabs li::after,
    .woocommerce div.product .woocommerce-tabs ul.tabs.tabs::before {
        display: none;
        border: 0;
    }
    .woocommerce div.product .woocommerce-tabs .panel {
        margin: 0 0 1.2em;
        padding: 0;
    }
    .woocommerce div.product #reviews #comments {
        width: 100%;
    }
    .woocommerce div.product #reviews #review_form_wrapper {
        width: 100%;
        padding-left: 0;
    }
    .woocommerce div.product #reviews #respond p.comment-form-author,
    .woocommerce div.product #reviews #respond p.comment-form-email {
        margin-bottom: 1em;
    }
    @media (min-width: 1201px) {
        .woocommerce div.product #reviews .comment-form-author,
        .woocommerce div.product #reviews .comment-form-email {
            width: 49%;
            display: inline-block;
        }
        .woocommerce div.product #reviews .comment-form-author input,
        .woocommerce div.product #reviews .comment-form-email input {
            width: 100%;
        }
        .woocommerce div.product #reviews .comment-form-author {
            float: left;
        }
        .woocommerce div.product #reviews .comment-form-email {
            float: right;
        }
        .woocommerce div.product #reviews .comment-form-cookies-consent {
            clear: both;
        }
    }
    .woocommerce div.product form.cart {
        zoom: 1;
    }
    .woocommerce div.product form.cart::after,
    .woocommerce div.product form.cart::before {
        content: " ";
        display: table;
    }
    .woocommerce div.product form.cart::after {
        clear: both;
    }
    .woocommerce div.product form.cart div.quantity {
        float: left;
        margin: 0 1em 1em 0;
    }
    .woocommerce div.product form.cart .button {
        vertical-align: middle;
        float: left;
        width: auto;
        margin-bottom: 1em;
    }
    .woocommerce div.product form.cart .button.single_add_to_cart_button {
        padding: 10px 20px;
    }
    .woocommerce div.product .woocommerce-tabs {
        display: block;
    }
    .woocommerce #respond input#submit,
    .woocommerce button.button {
        margin: 0;
        position: relative;
        overflow: visible;
        left: auto;
        display: inline-block;
        background-image: none;
        box-shadow: none;
        text-shadow: none;
    }
    .woocommerce button.button.alt:disabled,
    .woocommerce button.button.alt:disabled:hover {
        background-color: #a46497;
        color: #fff;
    }
    .woocommerce #respond input#submit:disabled,
    .woocommerce button.button:disabled {
        cursor: not-allowed;
        opacity: 0.5;
        padding: 0.618em 1em;
    }
    .woocommerce #respond input#submit:disabled:hover,
    .woocommerce button.button:disabled:hover {
        color: inherit;
        background-color: #ebe9eb;
    }
    .woocommerce .cart .button {
        float: none;
    }
    .woocommerce #reviews .woocommerce-Reviews-title {
        display: none;
    }
    .woocommerce #reviews h2 {
        font-weight: 400;
    }
    .woocommerce #reviews #respond {
        margin: 0;
        border: 0;
        padding: 0;
    }
    .woocommerce #reviews #comment {
        height: 75px;
    }
    .woocommerce #reviews #review_form {
        border: 1px solid var(--ast-border-color);
        padding: 1.67em;
    }
    .woocommerce #reviews #review_form #respond p {
        margin: 2px 0 6px;
    }
    .woocommerce #reviews #review_form #respond p.form-submit {
        margin-top: 1em;
    }
    .woocommerce #reviews #review_form #respond p.comment-form-author,
    .woocommerce #reviews #review_form #respond p.comment-form-email {
        margin-bottom: 1em;
    }
    .woocommerce #reviews #review_form #respond p.comment-form-author label,
    .woocommerce #reviews #review_form #respond p.comment-form-email label {
        display: inline-block;
        min-width: 100px;
    }
    .woocommerce #reviews #review_form #respond p.comment-form-author input,
    .woocommerce #reviews #review_form #respond p.comment-form-email input {
        width: 100%;
    }
    .woocommerce #reviews #review_form #respond #comment {
        height: 90px;
    }
    .woocommerce #reviews #review_form #respond .stars {
        margin: 0;
    }
    .woocommerce #reviews #review_form input {
        max-width: 100%;
    }
    .woocommerce #reviews .comment-form-rating {
        display: flex;
        vertical-align: middle;
        margin: 15px 0;
    }
    .woocommerce #reviews .comment-form-rating .stars {
        margin-bottom: 0;
    }
    .woocommerce #reviews .comment-form-rating .stars a {
        position: relative;
        top: 8px;
        height: 1.2em;
        width: 1.2em;
    }
    .woocommerce #reviews .comment-form-rating .stars a:before {
        width: 1.2em;
        height: 1.2em;
        font-size: 1.2em;
    }
    .woocommerce #reviews .comment-form-comment label,
    .woocommerce #reviews .comment-form-rating label {
        font-size: 1.2em;
        font-weight: 500;
        padding-right: 0.5em;
    }
    .woocommerce #review_form #respond {
        zoom: 1;
        position: static;
        margin: 0;
        width: auto;
        background: transparent none;
    }
    .woocommerce #review_form #respond::after,
    .woocommerce #review_form #respond::before {
        content: " ";
        display: table;
    }
    .woocommerce #review_form #respond::after {
        clear: both;
    }
    .woocommerce #review_form #respond .form-submit input {
        left: auto;
    }
    .woocommerce #review_form #respond textarea {
        box-sizing: border-box;
        width: 100%;
    }
    .woocommerce p.stars a {
        position: relative;
        height: 1em;
        width: 1em;
        text-indent: -999em;
        display: inline-block;
        text-decoration: none;
    }
    .woocommerce p.stars a::before {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 1em;
        height: 1em;
        line-height: 1;
        font-family: WooCommerce;
        content: "\e021";
        text-indent: 0;
    }
    .woocommerce p.stars a:hover ~ a::before {
        content: "\e021";
    }
    .woocommerce p.stars:hover a::before {
        content: "\e020";
    }
    .woocommerce .comment-reply-title {
        font-size: 1.34rem;
        line-height: 1.3;
        font-weight: 500;
    }
    .ast-separate-container .ast-woocommerce-container {
        background-color: #fff;
    }
    @media (max-width: 1200px) {
        .ast-separate-container .ast-woocommerce-container {
            padding: 3.34em 2.4em;
        }
    }
    @media (max-width: 992px) {
        .ast-separate-container .ast-woocommerce-container {
            padding: 1.5em 2.14em;
        }
    }
    @media (min-width: 1201px) {
        .ast-separate-container .ast-woocommerce-container {
            padding: 5.34em 6.67em;
        }
    }
    .ast-separate-container .ast-woocommerce-container .product {
        border-bottom: 0;
    }
    .ast-separate-container.single-product .ast-article-single {
        margin: 0;
        padding: 0;
        display: inline-block;
        width: 100%;
    }
    .woocommerce input[type="email"],
    .woocommerce input[type="number"],
    .woocommerce input[type="text"],
    .woocommerce textarea,
    .woocommerce-page input[type="email"],
    .woocommerce-page input[type="number"],
    .woocommerce-page input[type="text"],
    .woocommerce-page textarea {
        border-color: var(--ast-border-color);
        background-color: #fff;
        box-shadow: none;
        border-radius: 0;
    }
    .woocommerce input[type="email"]:focus,
    .woocommerce input[type="number"]:focus,
    .woocommerce input[type="text"]:focus,
    .woocommerce textarea:focus,
    .woocommerce-page input[type="email"]:focus,
    .woocommerce-page input[type="number"]:focus,
    .woocommerce-page input[type="text"]:focus,
    .woocommerce-page textarea:focus {
        box-shadow: none;
        border-color: var(--ast-border-color);
    }
    .woocommerce select,
    .woocommerce-page select {
        padding: 0.8em;
        line-height: normal;
        padding-right: 2em;
        appearance: none;
        background-position: 98% 50%;
        background-color: #fff;
        border-color: var(--ast-border-color);
        border-radius: 3px;
        box-shadow: none;
    }
    .woocommerce select:focus,
    .woocommerce-page select:focus {
        outline: 0;
    }
}
/*! CSS Used from: Embedded */
.woocommerce div.product p.price {
    color: var(--ast-global-color-3);
}
.woocommerce .comment-form-rating .stars a {
    color: var(--ast-global-color-3);
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active:before {
    background: var(--ast-global-color-0);
}
@media (max-width: 921px) {
    .woocommerce div.product div.images,
    .woocommerce div.product div.summary,
    .woocommerce #content div.product div.images,
    .woocommerce #content div.product div.summary,
    .woocommerce-page div.product div.images,
    .woocommerce-page div.product div.summary,
    .woocommerce-page #content div.product div.images,
    .woocommerce-page #content div.product div.summary {
        float: none;
        width: 100%;
    }
}
@media (max-width: 544px) {
    .ast-separate-container .ast-woocommerce-container {
        padding: 0.54em 1em 1.33333em;
    }
    .woocommerce #content div.product .woocommerce-tabs ul.tabs li a,
    .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a {
        display: block;
    }
}
@media (max-width: 544px) {
    .woocommerce #content div.product .woocommerce-tabs ul.tabs li,
    .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li {
        display: block;
        margin-right: 0;
    }
}
@media (min-width: 922px) {
    .woocommerce #content .ast-woocommerce-container div.product div.images,
    .woocommerce .ast-woocommerce-container div.product div.images,
    .woocommerce-page
        #content
        .ast-woocommerce-container
        div.product
        div.images,
    .woocommerce-page .ast-woocommerce-container div.product div.images {
        width: 50%;
    }
    .woocommerce #content .ast-woocommerce-container div.product div.summary,
    .woocommerce .ast-woocommerce-container div.product div.summary,
    .woocommerce-page
        #content
        .ast-woocommerce-container
        div.product
        div.summary,
    .woocommerce-page .ast-woocommerce-container div.product div.summary {
        width: 46%;
    }
}
.summary .price {
    display: inline-block;
}
.ast-shipping-text {
    display: inline;
}
.woocommerce div.product form.cart .button.single_add_to_cart_button {
    width: 50%;
}
select {
    background-image: url("data:image/svg+xml,%3Csvg class='ast-arrow-svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='26px' height='16.043px' fill='%23565656' viewBox='57 35.171 26 16.043' enable-background='new 57 35.171 26 16.043' xml:space='preserve' %3E%3Cpath d='M57.5,38.193l12.5,12.5l12.5-12.5l-2.5-2.5l-10,10l-10-10L57.5,38.193z'%3E%3C/path%3E%3C/svg%3E");
    background-size: 0.8em;
    background-repeat: no-repeat;
    background-position-x: calc(100% - 10px);
    background-position-y: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 2em;
}
