@import "flatpickr/dist/flatpickr.min.css";
@import "tom-select/dist/css/tom-select.bootstrap5.css";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* @import "contact.css"; */

@import "additional-styles/iziToast.css";

@import "additional-styles/utility-patterns.css";
@import "additional-styles/flatpickr.css";

@import "filepond/dist/filepond.min.css";
@import "filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css";

[x-cloak] {
    display: none;
}

.sidebar li a:before {
    left: 34px;
    width: 7px;
    height: 7px;
    border: 1px solid #b3becf;
    content: "";
    position: absolute;
    margin-top: 7px;
    display: block;
    border-radius: 50%;
    transition: all 0.15s linear;
}
.sidebar-chilren li a:before {
    left: 60px;
    width: 7px;
    height: 7px;
}

.separator-title {
    position: relative;
    color: #303133;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 20px;
}

.contenedor-estados-sunat .sunat-estado {
    font-weight: 600;
}
.contenedor-estados-sunat div {
    position: relative;
    padding: 2px;
    padding-left: 23px;
    margin: 5px;
}
.contenedor-estados-sunat .estadosunat {
    background-image: url(../images/facturacion/sunat_logo.png) !important;
    background-size: 1.3em 1.3em !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.contenedor-estados-sunat .aceptado {
    background-image: url(../images/facturacion/success.svg) !important;
    background-size: 1.3em 1.3em !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.contenedor-estados-sunat .rechazado {
    background-image: url(../images/facturacion/rechazo.svg) !important;
    background-size: 1.3em 1.3em !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}
.contenedor-estados-sunat .noenviado {
    background-image: url(../images/facturacion/get_cdr.svg) !important;
    background-size: 1.3em 1.3em !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}
.contenedor-estados-sunat .baja {
    background-image: url(../images/facturacion/error.svg) !important;
    background-size: 1.3em 1.3em !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}
.contenedor-estados-sunat label {
    position: absolute;
    top: 2px;
    left: 0;
    padding: 5px;
    width: 1.3em;
    height: 1.3em;
}
